body {
    
    color:rgb(240, 9, 9);

}

h1 {
    text-align: center;
    margin-top: 1em;
}

h3 {

    margin-bottom: 1em;

}

#ships, #salvoes {
    display: inline-block;
    margin-top: 5em;
    margin-left: 4em;
    margin-bottom: 3em;
    width: 440px;
    line-height: 40px;

}

.cell {
 display: inline-block;
 width: 40px;
 height: 40px;
 padding-left: 0.5em;
 margin: 0;
 vertical-align: top;
 outline : 1px solid rgb(116, 16, 16);

}

body {

    background:url(631278.jpg) ;
    background-size: cover;
    background-position: center;
    background-repeat : none;

   }